.btn-green{
  background-color: #3F6D5B;
  color: #ffffff;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 12px;
  border-radius: 3px !important;
}

.card-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;

  span:first-child {
    font-size: 14px;
  }

  span:last-child {
    font-size: 14px;
    font-weight: 600;
    color: #3F6D5B;
  }
}

.table-statistics {
  display: flex;
  align-items: center;
  gap: 8px;

  span:first-child {
    font-weight: 600;
  }

  span:last-child {
    margin-left: 6px;
    font-weight: 600;
    color: #3F6D5B;
  }
}

.export-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #3F6D5B;
  background-color: #FFFFFF;
  border: 1px solid #3F6D5B;
  font-size: 16px;
  padding: 8px 16px;
  font-weight: 400;
}


