<div>
  <div class="d-flex mb-2 pb-2 border-bottom">
    <div class="attached-image">
      <img [src]="imageRus" alt="">
    </div>
    <div class="ms-2">
      <input type="file" class="file-input" (change)="onUploadFileRus($event)" #fileUpload>
      <button mat-button (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
        Upload image
      </button>
      <p class="m-0 text-secondary">Поддерживается только формат .png</p>
    </div>
  </div>
  <form [formGroup]="createForm" (ngSubmit)="createBanner()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Redirect key</mat-label>
        <input type="text" matInput formControlName="redirectKey">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Ордер</mat-label>
        <input type="number" matInput formControlName="orderNumber">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>
          Тип
        </mat-label>
        <mat-select (selectionChange)="getSelectedValue($event)" formControlName="type">
          <mat-option *ngFor="let type of data.types" [value]="type.type">{{type.type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="hasProductId" appearance="outline">
        <mat-label>
          Тип продукта
        </mat-label>
        <mat-select   formControlName="productId">
          <mat-option *ngFor="let item of infoTypeList" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox color="primary" formControlName="redirectInApp">в приложении</mat-checkbox>
    </div>
    <mat-tab-group>
      <mat-tab label="UZ">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input type="text" matInput formControlName="titleUz">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Описание</mat-label>
            <input type="text" matInput formControlName="descriptionUz">
          </mat-form-field>
        </div>
        <div>
          <div class="d-flex mt-2 mb-2 pb-2 border-bottom">
            <div class="attached-image">
              <img [src]="imageUzb" alt="">
            </div>
            <div class="ms-2">
              <input type="file" class="file-input" (change)="onUploadFileUzb($event)" #fileUploadUzb>
              <button type="button" mat-button (click)="fileUploadUzb.click()">
                <mat-icon>attach_file</mat-icon>
                Upload image
              </button>
              <p class="m-0 text-secondary">Поддерживается только формат .png</p>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="RU">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input type="text" matInput formControlName="titleRu">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Описание</mat-label>
            <input type="text" matInput formControlName="descriptionRu">
          </mat-form-field>
        </div>
        <div>
          <div class="d-flex mt-2 mb-2 pb-2 border-bottom">
            <div class="attached-image">
              <img [src]="imageRus" alt="">
            </div>
            <div class="ms-2">
              <input type="file" class="file-input" (change)="onUploadFileRus($event)" #fileUploadRus>
              <button type="button" mat-button (click)="fileUploadRus.click()">
                <mat-icon>attach_file</mat-icon>
                Upload image
              </button>
              <p class="m-0 text-secondary">Поддерживается только формат .png</p>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="EN">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input type="text" matInput formControlName="titleEn">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Описание</mat-label>
            <input type="text" matInput formControlName="descriptionEn">
          </mat-form-field>
        </div>
        <div>
          <div class="d-flex mt-2 mb-2 pb-2 border-bottom">
            <div class="attached-image">
              <img [src]="imageEng" alt="">
            </div>
            <div class="ms-2">
              <input type="file" class="file-input" (change)="onUploadFileEng($event)" #fileUploadEng>
              <button type="button" mat-button (click)="fileUploadEng.click()">
                <mat-icon>attach_file</mat-icon>
                Upload image
              </button>
              <p class="m-0 text-secondary">Поддерживается только формат .png</p>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="KAA">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input type="text" matInput formControlName="titleKaa">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Описание</mat-label>
            <input type="text" matInput formControlName="descriptionKaa">
          </mat-form-field>
        </div>
        <div>
          <div class="d-flex mt-2 mb-2 pb-2 border-bottom">
            <div class="attached-image">
              <img [src]="imageKaa" alt="">
            </div>
            <div class="ms-2">
              <input type="file" class="file-input" (change)="onUploadFileKaa($event)" #fileUploadKaa>
              <button type="button" mat-button (click)="fileUploadKaa.click()">
                <mat-icon>attach_file</mat-icon>
                Upload image
              </button>
              <p class="m-0 text-secondary">Поддерживается только формат .png</p>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="KRL">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input type="text" matInput formControlName="titleKrl">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Описание</mat-label>
            <input type="text" matInput formControlName="descriptionKrl">
          </mat-form-field>
        </div>
        <div>
          <div class="d-flex mt-2 mb-2 pb-2 border-bottom">
            <div class="attached-image">
              <img [src]="imageKr" alt="">
            </div>
            <div class="ms-2">
              <input type="file" class="file-input" (change)="onUploadFileKr($event)" #fileUploadKr>
              <button type="button" mat-button (click)="fileUploadKr.click()">
                <mat-icon>attach_file</mat-icon>
                Upload image
              </button>
              <p class="m-0 text-secondary">Поддерживается только формат .png</p>
            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>

    <div class="d-flex align-items-center justify-content-end">

      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="close()"
      >
        Отмена
      </button>
      <button
        type="submit"
        class="btn btn-outline-success ms-2"
      >
        Сохранить
      </button>
    </div>
  </form>
</div>
