<div>
  <div class="header__title">Подробнее</div>
 <div class="detail__all">
   <strong>
   Имя
   </strong>
   <div>
     {{data.userAdminList.firstName}}
   </div>
 </div>
  <div class="bottom__line"></div>
  <div class="detail__all">
    <div>
      <strong>Фамилия</strong>
    </div>
    <div>
      {{data.userAdminList.lastName}}
    </div>
  </div>
  <div class="bottom__line"></div>
  <div class="detail__all">
    <div>
      <strong>Номер телефона</strong>
    </div>
    <div>
      {{data.userAdminList.phone}}
    </div>
  </div>
  <div class="bottom__line"></div>
  <div class="detail__all">
    <div>
      <strong>email</strong>
    </div>
    <div>
      {{data.userAdminList.email}}
    </div>
  </div>
  <div class="bottom__line"></div>
  <div class="detail__all">
    <div>
      <strong>Роль</strong>
    </div>
    <div>
      {{role.name}}
    </div>
  </div>
  <div class="bottom__line"></div>
  <div class="detail__all">
    <div>
      <strong>Статус</strong>
    </div>
    <div>
      {{data.userAdminList.status}}
    </div>
  </div>
</div>
