<div style="padding: 24px 24px">
  <mat-card style="border-radius: 10px!important;">
    <mat-card-title class="header__title">Время блокировки работы</mat-card-title>
    <mat-card-content class="p-0 pt-2 pb-2 ftz-16">
      <table class="table mb-4" >
        <thead >
        <tr class="design__line">
          <th scope="col">Время начала</th>
          <th scope="col" >Время окончания</th>
          <th scope="col" >Тип</th>
          <th scope="col" >Описание</th>
          <th scope="col" >Всегда включен</th>
          <th scope="col" class="text-end" >Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="loadingList">
          <td colspan="8">
            <ngx-skeleton-loader
              count="5"
              [theme]="{ 'height.px': 25 }"
            ></ngx-skeleton-loader>
          </td>
        </tr>
        <tr *ngIf="dataList.length <= 0 && !loadingList">
          <td colspan="8" class="grey97-text text-center py-4">
            Список пуст
          </td>
        </tr>
        <ng-container *ngFor="let item of dataList; index as i">
          <tr class="table__td" *ngIf="!loadingList">
                <td>{{item.startTime || ''}}</td>
                <td>{{item.endTime || ''}}</td>
                <td>{{item.type || ''}}</td>
                <td>{{item.description || ''}}</td>
                <td>{{item['alwaysOn']? 'Да' : 'Нет'}}</td>
            <td class="text-end">
              <button (click)="openDialogEdit(item.type)" mat-icon-button><mat-icon color="accent">edit</mat-icon></button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

</div>
