<div>
  <div class="d-flex align-items-center justify-content-between mb-2">
    <h2 class="mb-0">Изменить пароль</h2>
    <div>
      <button
        type="button"
        mat-icon-button
        matTooltip="Закрыть"
        matTooltipPosition="above"
        (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <hr>
  <ng-container *ngIf="step === 0">
    <div>
      <form [formGroup]="changePasswordForm" (ngSubmit)="passwordInit()">
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Старый пароль</mat-label>
              <input
                [type]="passShow ? 'text' : 'password'"
                formControlName="oldPassword"
                matInput>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Новый пароль</mat-label>
              <input
                [type]="passShow ? 'text' : 'password'"
                formControlName="password"
                matInput>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Подтвердите пароль</mat-label>
              <input
                [type]="passShow ? 'text' : 'password'"
                formControlName="confirmPassword"
                matInput>
              <mat-error *ngIf="confirmPasswordControl && confirmPasswordControl.invalid"
              >Пароли не совпадают
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-checkbox (change)="passShow = !passShow" [checked]="passShow">Показать</mat-checkbox>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center justify-content-end gap-2">
          <button type="submit" class="btn btn-primary">Далее</button>
        </div>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="step === 1">
    <div>
      <div class="text-center px-3">
        {{message}}
      </div>
      <form [formGroup]="confirmForm" (ngSubmit)="passwordChangeConfirm()">
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Код</mat-label>
              <input type="text" mask="0{6}" matInput formControlName="code">
            </mat-form-field>
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center justify-content-end gap-2">
          <button type="submit" class="btn btn-outline-secondary" (click)="back()">Назад</button>
          <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
      </form>
    </div>
  </ng-container>
</div>
