<div class="model-create-form">
  <div class="create-form_title">
    Изменить модель
  </div>
  <form [formGroup]="createForm" (ngSubmit)="createAutoModel()">
    <div class="row">
      <div class="col-12 mb-2">
        <div class="px-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Введите название модела</mat-label>
            <input type="text" matInput formControlName="name">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between px-2">
      <div>
        <div class="upload-image-content" (click)="modelImageInput.click()">
          <img *ngIf="!uploadedImg" src="./assets/new-icons/upload-icon.svg" alt="">
          <div *ngIf="!uploadedImg">Upload model image</div>
          <div *ngIf="uploadedImg" class="model-image">
            <img [src]="modelImage" alt="">
          </div>
          <div *ngIf="uploadedImg" class="d-flex align-items-center gap-2">
            <img style="width: 18px; height: 18px" src="./assets/new-icons/upload-icon.svg" alt="">
            <div>
              Upload model image
            </div>
          </div>
          <input type="file" class="d-none" (change)="uploadModelImage($event)" #modelImageInput>
        </div>
      </div>

      <div>
        <div class="upload-image-content" (click)="brandLogoInput.click()">
          <img *ngIf="!uploadedBrandLogo" src="./assets/new-icons/upload-icon.svg" alt="">
          <div *ngIf="!uploadedBrandLogo">Upload brand logo</div>
          <div *ngIf="uploadedBrandLogo" class="model-image">
            <img [src]="brandLogo" alt="">
          </div>
          <div *ngIf="uploadedBrandLogo" class="d-flex align-items-center gap-2">
            <img style="width: 18px; height: 18px" src="./assets/new-icons/upload-icon.svg" alt="">
            <div>
              Upload brand logo
            </div>
          </div>
          <input type="file" class="d-none" (change)="uploadBrandLogo($event)" #brandLogoInput>
        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex align-items-center gap-3 px-2">
      <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="close()">Закрыть</button>
    </div>
  </form>
</div>
