<div class="http-loading" [class.active]="loadingCnt > 0">
  <div class="d-flex justify-content-center align-items-center" style="width: 100%;height: 100%;">
    <mat-card style="width: 412px" class="bdr-10">
      <mat-card-content>
        <div class="d-flex">
          <div class="me-3 px-2">
            <img src="/assets/loader1.svg" alt="">
          </div>
          <div class="ps-3 pt-2">
            <div class="ftz-20 grey55-text bolderer">Пожалуйста, подождите...</div>
<!--            <div class="pt-2">-->
<!--              <button mat-button color="primary" class="px-0" style="height: 24px" (click)="decreaseLoading()">Назад-->
<!--              </button>-->
<!--            </div>-->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
