<div style="padding: 24px">
  <mat-card style="border-radius: 10px!important;">
    <mat-card-title class="header__title">Отчет по зарегистрированным клиентам</mat-card-title>
    <hr>
    <div>
      <button class="btn btn-success mb-2" (click)="showFilter = !showFilter">Фильтр</button>
    </div>
    <div *ngIf="showFilter" class="mb-2">
      <form [formGroup]="filterForm" (ngSubmit)="filter()">
        <div class="border p-2">
          <div class="col-12">
            <app-ad-filter-buttons
              [selectedBtn]="selectedFilterBtn"
              (time)="setTime($event)"
              (fromTime)="setFromTime($event)"
              (toTime)="setToTime($event)"
            ></app-ad-filter-buttons>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2 p-2">
            <div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Промокод</mat-label>
                <input type="text" matInput formControlName="promoCode">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Номер телефона</mat-label>
                <input type="text" matInput formControlName="userPhone">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>ПИНФЛ</mat-label>
                <input type="text" matInput formControlName="pinfl">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Клиент ID</mat-label>
                <input type="number" matInput formControlName="empId">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Статус</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let item of statusList" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center gap-2">
            <button type="button" class="btn btn-outline-secondary" (click)="clearFilter()">Сбросить</button>
            <button type="submit" class="btn btn-outline-success">Показать</button>
          </div>
        </div>
      </form>
    </div>
    <mat-card-content class="p-0 pt-2 pb-2 ftz-16">
      <div class="mb-2 d-flex justify-content-end">
        <div class="text-end">Общее количество: <span style="font-weight: 600; color: #3f6d5b">{{totalItems}}</span>
        </div>
      </div>
      <table class="table mb-4">
        <thead>
        <tr class="design__line text-center">
          <th scope="col">№</th>
          <th scope="col">Ф.И.О</th>
          <th scope="col">Номер телефона</th>
          <th scope="col">Промокод</th>
          <th scope="col">Номер нового пользователя</th>
          <th scope="col">Дата</th>
          <th scope="col">Статус</th>
          <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="loadingList">
          <td colspan="7">
            <ngx-skeleton-loader
              count="5"
              [theme]="{ 'height.px': 25 }"
            ></ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="dataList && dataList.length <= 0 && !loadingList">
          <td class="em-col"></td>
          <td colspan="7" class="grey97-text text-center py-4">Список пуст</td>
          <td class="em-col"></td>
        </tr>
        <ng-container *ngFor="let item of dataList; index as i;">
          <tr class="table__td text-center" *ngIf="!loadingList">
            <td>{{item['position']}}</td>
            <td>{{item['empName'] ? item['empName'] : 'Неизвестно'}}</td>
            <td>{{item['userPhone']}}</td>
            <td>{{item['promoCode']}}</td>
            <td>{{item['newUserPhone']}}</td>
            <td>{{item['data'] ? item['data'] : '-'}}</td>
            <td>{{item['status']}}</td>

            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu>
                <button
                  class="mat__menu__item"
                  mat-menu-item
                >
                  <mat-icon color="accent" class="p-0">remove_red_eye</mat-icon>
                  <span class="title__menu_item">Подробно</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
  <app-ad-pagination [page]="currentPage" [totalPages]="totalPages" (pageClick)="pageClicked($event)"
                     (pagePrev)="pagePrevTo()" (pageNext)="pageNextTo()"></app-ad-pagination>
</div>
