<div style="padding: 24px">
  <mat-card style="border-radius: 10px!important;">
    <mat-card-title class="header__title">Заявки на редактирование пользователя</mat-card-title>
    <mat-card-content>
      <div class="mb-2">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Поиск по имени</mat-label>
                <input type="text" matInput formControlName="firstName">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Поиск по фамилии</mat-label>
                <input type="text" matInput formControlName="lastName">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Поиск по номеру телефона</mat-label>
                <input type="text" matInput formControlName="phone">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Поиск по ПИНФЛ</mat-label>
                <input type="text" matInput formControlName="pinfl">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Статус заявки</mat-label>
                <mat-select formControlName="applicationStatus">
                  <mat-option value="">Все</mat-option>
                  <mat-option value="CREATED_BY_SCHEDULER">CREATED_BY_SCHEDULER</mat-option>
                  <mat-option value="IN_PROCESS">IN_PROCESS</mat-option>
                  <mat-option value="SUCCESS">SUCCESS</mat-option>
                  <mat-option value="ERROR">ERROR</mat-option>
                  <mat-option value="ABS_CUSTOMER_NOT_UPDATED">ABS_CUSTOMER_NOT_UPDATED</mat-option>
                  <mat-option value="ACTIVE_CUSTOMER_NOT_EXIST">ACTIVE_CUSTOMER_NOT_EXIST</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-outline-secondary" (click)="clearFilter()">Сбросить</button>
            <button type="submit" class="btn btn-outline-success ms-2">Показать</button>
          </div>
        </form>
      </div>
      <table class="table mb-4">
        <thead>
        <tr class="design__line">
          <th scope="col">№</th>
          <th scope="col">Ф.И.</th>
          <th scope="col">Серия и номер паспорта</th>
          <th scope="col">Номер телефона</th>
          <th scope="col">Cоздан в</th>
          <th scope="col">ПИНФЛ</th>
          <th scope="col">Сообщение о статусе</th>
          <th scope="col">Cтатус проверки</th>
          <th scope="col">Статус заявки</th>
          <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="loadingList">
          <td colspan="8">
          </td>
        </tr>

        <tr *ngIf="dataList.length <= 0 && !loadingList">
          <td colspan="9" class="grey97-text text-center py-4">Список пуст</td>
        </tr>

        <ng-container *ngFor="let item of dataList; index as i;">
          <tr class="table__td" *ngIf="!loadingList">
            <td>{{item['position']}}</td>
            <td>
              <div class="d-flex flex-column align-items-center justify-content-center">
                <span
                  style="text-decoration: line-through; font-size: 12px">{{item['oldLastName']}} {{item['oldFirstName']}}</span>
                <span>{{item['newLastName']}} {{item['newFirstName']}}</span>
              </div>
            </td>
            <td>
              <div class="d-flex flex-column align-items-center justify-content-center">
                <span
                  style="text-decoration: line-through; font-size: 12px">{{item['oldDocSerial']}}{{item['oldDocNumber']}}</span>
                <span>{{item['newDocSerial']}}{{item['newDocNumber']}}</span>
              </div>
            </td>
            <td>{{item['phone']}}</td>
            <td>{{item['createdAt']}}</td>
            <td>{{item['pinfl']}}</td>
            <td>{{item['statusMessage']}}</td>
            <td><div style="font-size: 12px; text-align: center">{{item['reviewStatus']}}</div></td>
            <td>
              <span class="text-white rounded-2 px-2 py-1"
                     [class]="{
                  'bg-secondary': item['applicationStatus'] === 'CREATED_BY_SCHEDULER',
                  'bg-danger': item['applicationStatus'] === 'ERROR' || item['applicationStatus'] === 'ABS_CUSTOMER_NOT_UPDATED' || item['applicationStatus'] === 'ACTIVE_CUSTOMER_NOT_EXIST',
                  'bg-success': item['applicationStatus'] === 'SUCCESS',
                  'bg-warning': item['applicationStatus'] === 'IN_PROCESS'
                }"
            >{{item['applicationStatus']}}</span></td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu>
                <button class="mat__menu__item" mat-menu-item (click)="openDetailsDialog(item.id)">
                  <mat-icon color="accent" style="padding: 0">remove_red_eye</mat-icon>
                  <span class="title__menu_item">Детали</span></button>
                <button class="mat__menu__item" mat-menu-item (click)="compareAbs(item.id)">
                  <mat-icon color="primary" style="padding: 0">refresh</mat-icon>
                  <span class="title__menu_item">Проверка от iABS</span></button>
                <button
                  *ngIf="!item['pinfl'] && !item['phone']"
                  class="mat__menu__item" mat-menu-item (click)="openDeleteDialog(item.id)">
                  <mat-icon color="warn" style="padding: 0">delete</mat-icon>
                  <span class="title__menu_item">Удалить</span></button>
                <button
                  *ngIf="item['reviewStatus'] === 'READ'"
                  class="mat__menu__item" mat-menu-item (click)="retry(item.id)">
                  <mat-icon color="primary" style="padding: 0">refresh</mat-icon>
                  <span class="title__menu_item">Повторить попытку</span></button>
                <button *ngIf="item['reviewStatus'] === 'NEW'" class="mat__menu__item" mat-menu-item
                        (click)="openReadAppDialog(item.id)">
                  <mat-icon color="primary" style="padding: 0">check</mat-icon>
                  <span class="title__menu_item">Принять заявку</span></button>
              </mat-menu>
              <mat-icon *ngIf="item['reviewStatus'] === 'READ'" color="accent">report</mat-icon>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <div *ngIf="totalItems" class="d-flex align-items-center justify-content-end">
        Общее количество: <span class="fw-bolder ms-2">{{totalItems}}</span>
      </div>
    </mat-card-content>
  </mat-card>
  <app-ad-pagination [page]="currentPage" [totalPages]="totalPages" (pageClick)="pageClicked($event)"
                     (pagePrev)="pagePrevTo()" (pageNext)="pageNextTo()"></app-ad-pagination>
</div>

