<div class="p-4">
  <mat-card style="border-radius: 10px!important;">
    <mat-card-title class="header__title">История транзакций (INPS)</mat-card-title>

    <mat-card-content class="p-0 pt-2 pb-2 ftz-16">

      <div class="d-flex justify-content-between align-items-center">
        <div>
          <button (click)="isFilter = !isFilter" class="btn-green">
            <img src="./assets/new-icons/filter.svg" alt="">
            Фильтровать по периоду
            <img src="./assets/new-icons/filter-1.svg" alt="">
          </button>
        </div>
        <form [formGroup]="topFilterForm">
          <div class="d-flex align-items-center gap-3">
            <div>
              <button
                type="button"
                matTooltip="Обновить"
                matTooltipPosition="above"
                mat-icon-button
                (click)="getData()"
              >
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
            <div>
              <button
                type="button"
                matTooltip="Сбросить"
                matTooltipPosition="above"
                mat-icon-button
                (click)="refreshTopFilter()"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div>
              <mat-form-field appearance="standard">
                <mat-label>Тип операции</mat-label>
                <mat-select formControlName="type" (selectionChange)="filterForType($event)">
                  <mat-option value="">Все</mat-option>
                  <mat-option value="INPS_INCOME">INPS_INCOME</mat-option>
                  <mat-option value="INPS_OUTCOME">INPS_OUTCOME</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="standard">
                <mat-label>Статуc</mat-label>
                <mat-select formControlName="status" (selectionChange)="statusFilter($event)">
                  <mat-option value="">Все</mat-option>
                  <mat-option value="SUCCESS">SUCCESS</mat-option>
                  <mat-option value="ERROR">ERROR</mat-option>
                  <mat-option value="PENDING">PENDING</mat-option>
                  <mat-option value="PREPARE">PREPARE</mat-option>
                  <mat-option value="CONFIRM">CONFIRM</mat-option>
                  <mat-option value="CANCEL">CANCEL</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="isFilter" class="mt-3 mb-3">
        <form [formGroup]="dateForm">
          <app-ad-filter-buttons
            [selectedBtn]="selectedFilterBtn"
            (time)="setTime($event)"
            (fromTime)="setFromTime($event)"
            (toTime)="setToTime($event)"
          ></app-ad-filter-buttons>

          <div class="d-flex align-items-center justify-content-center mt-2 gap-3">
            <div>
              <mat-form-field appearance="standard">
                <mat-label>Имя</mat-label>
                <input type="text" matInput formControlName="firstName">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="standard">
                <mat-label>Фамилия</mat-label>
                <input type="text" matInput formControlName="lastName">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="standard">
                <mat-label>Тел</mat-label>
                <input type="text" matInput formControlName="phone">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="standard">
                <mat-label>ПИНФЛ</mat-label>
                <input type="text" matInput formControlName="pinfl">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="standard">
                <mat-label>ID операции</mat-label>
                <input type="text" matInput formControlName="operationId">
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center mt-2 gap-3">
            <div>
              <mat-form-field appearance="standard">
                <mat-label>От суммы</mat-label>
                <input
                  type="text"
                  inputmode="numeric"
                  mask="separator.2"
                  formControlName="fromAmount"
                  matInput>
              </mat-form-field>
            </div>
            -
            <div>
              <mat-form-field appearance="standard">
                <mat-label>До суммы</mat-label>
                <input
                  type="text"
                  inputmode="numeric"
                  mask="separator.2"
                  formControlName="toAmount"
                  matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center mt-2">
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="refreshFilter()"
            >
              Сбросить
            </button>
            <button
              type="submit"
              class="btn btn-success ms-2"
              (click)="periodResult()"
            >
              Показать
            </button>
          </div>
        </form>
      </div>

      <div>
        <button class="export-btn" (click)="exportToExcel()">
          <img width="24" src="assets/new-icons/excel-icon.svg" alt="excel">
          <span class="ms-1">Экспортировать</span>
        </button>
      </div>


      <div
        *ngIf="totalItems && totalDebits"
        class="d-flex align-items-center justify-content-between my-2"
      >
        <div class="table-statistics">
          <div>
            <span>Дебит:</span>
            <span>{{(totalDebits.debit.amount / 100) | currency: '': ''}} {{totalDebits.debit.currency}}</span>
          </div>
          |
          <div>
            <span>Кредит:</span>
            <span>{{(totalDebits.credit.amount / 100) | currency: '': ''}} {{totalDebits.credit.currency}}</span>
          </div>
          |
          <div>
            <span>Разница:</span>
            <span>{{((totalDebits.debit.amount - totalDebits.credit.amount) / 100) | currency:'':''}} {{totalDebits.credit.currency}}</span>
          </div>
        </div>

        <div class="table-statistics">
          <div>
            <span>
              Количество транзакций:
            </span>
            <span>
              {{totalItems}}
            </span>
          </div>
        </div>
      </div>
      <table class="table mb-4">
        <thead>
        <tr class="design__line">
          <th>№</th>
          <th>Отправитель</th>
          <th>Получатель</th>
          <th>Телефон</th>
          <th>Тип операции</th>
          <th>Дата транзакции</th>
          <th>Сумма</th>
          <th>Статус</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loading -->
        <tr *ngIf="loadingList">
          <td colspan="9">
            <ngx-skeleton-loader
              count="5"
              [theme]="{ 'height.px': 25 }"
            ></ngx-skeleton-loader>
          </td>
        </tr>

        <!-- If list empty -->
        <tr *ngIf="dataList.length <= 0 && !loadingList">
          <td colspan="8" class="grey97-text text-center py-4">
            Список пуст
          </td>
        </tr>

        <ng-container *ngFor="let item of dataList; index as i">
          <tr class="table__td" *ngIf="!loadingList">
            <td>{{reqData.paging.page * reqData.paging.size + (i + 1)}}</td>
            <td>{{item.details.senderOwner}}</td>
            <td>{{item.title}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.operationType}}</td>
            <td>{{item.date['date']}} {{item.date['time']}}</td>
            <td>{{(item.amount.amount / 100) | currency: '':''}}</td>
            <td>
              <span
                class="text-white px-2 py-1 rounded-3"
                [class]="{
                'bg-danger' : item.status === 'ERROR',
                'bg-success' : item.status === 'SUCCESS',
                'bg-warning' : item.status === 'PENDING',
                'bg-primary': item.status === 'CONFIRM',
                'bg-secondary' : item.status === 'PREPARE' || item.status === 'CANCEL'
                }"
              >
                {{item.status}}
              </span>
            </td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu style="height: 40px" #menu>
                <div>
                  <button
                    class="mat__menu__item" mat-menu-item
                    (click)="openDetailsDialog(item)"
                  >
                    <mat-icon color="accent" class="p-0">info</mat-icon>
                    <span class="title__menu_item">Подробно</span>
                  </button>
                </div>
                <div *ngxPermissionsOnly="['CHECK_TRANSACTION']">
                  <button class="mat__menu__item" mat-menu-item
                          (click)="paymentToolCheck(item.id, item.uuid, item.operationType, item.status, item.recipientService, item.senderService)">
                    <mat-icon color="warn" class="p-0">settings</mat-icon>
                    <span class="title__menu_item">Инструмент</span>
                  </button>
                </div>
              </mat-menu>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
  <app-ad-pagination
    [page]="currentPage"
    [totalPages]="totalPages"
    (pageClick)="pageClicked($event)"
    (pagePrev)="pagePrevTo()"
    (pageNext)="pageNextTo()"
  ></app-ad-pagination>
</div>
