<div>
  <h2 class="text-center">Редактирование</h2>
  <div>
    <form [formGroup]="marketSettingForm" (ngSubmit)="marketSettingsUpdate()">
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="standard">
            <mat-label>Тип</mat-label>
            <input type="text" formControlName="typeEnum" matInput readonly>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-checkbox formControlName="android">Android</mat-checkbox>
        </div>

        <div class="col-md-6">
          <mat-checkbox formControlName="ios">iOS</mat-checkbox>
        </div>

        <div class="col-md-6">
          <mat-checkbox formControlName="web">Web</mat-checkbox>
        </div>

        <div class="col-md-6">
          <mat-checkbox formControlName="ussd">USSD</mat-checkbox>
        </div>

        <div class="col-md-6">
          <mat-checkbox formControlName="unknown">Unknown</mat-checkbox>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          Отмена
        </button>

        <button type="submit" class="btn btn-success ms-2">
          Сохранить
        </button>
      </div>
    </form>
  </div>
</div>
