@media print {
  @page {
    margin-bottom: 0;
  }
  body {
    margin-bottom: 1.6cm;
  }
  .n-content {
    padding-top: 10px;
  }
  .container-fluid {
    max-width: none;
    padding: 0;
  }
  .m-content {
    padding: 0;
  }
  .mat-card {
    box-shadow: none !important;
    padding: 0 !important;
  }
  table {
    th.em-col, td.em-col {
      display: none;
    }
    th, td {
      padding-left: 0;
      padding-right: 0;
    }
    thead.table-dark {
        border-color: inherit;
      th {
        border-color: inherit;
      }
    }
  }
}
