<div style="padding: 24px">
  <mat-card style="border-radius: 10px!important;">
    <mat-card-title class="header__title">Сервис контроллер</mat-card-title>
    <mat-card-content class="p-0 pt-2 pb-2 ftz-16">
      <hr>
      <table class="table mb-4">
        <thead>
        <tr class="design__line">
          <th scope="col">№</th>
          <th scope="col">Наименование</th>
          <th scope="col">Родитель</th>
          <th scope="col">Статус</th>
          <th scope="col" class="text-end">Действия</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngIf="loadingList">
          <td colspan="5">
            <ngx-skeleton-loader
              count="5"
              [theme]="{ 'height.px': 25 }"
            ></ngx-skeleton-loader>
          </td>
        </tr>

        <tr *ngIf="dataList.length <= 0 && !loadingList">
          <td colspan="5" class="grey97-text text-center py-4">
            Список пуст
          </td>
        </tr>

        <ng-container *ngFor="let item of dataList; index as i">
          <tr *ngIf="!loadingList"
              class="table__td"
              [class]="{
                'blocked-status': item.status === 'BLOCKED'
              }"
          >
            <td>{{item['position']}}</td>
            <td>{{item['service']}}</td>
            <td>{{item['parentService']}}</td>
            <td>
              <span
                style="font-size: 12px" class="px-2 py-1 rounded-2 text-white"
                [class]="{
                  'bg-danger': item.status === 'BLOCKED',
                  'bg-success': item.status === 'ACTIVE'
                }"
              >
                {{item['status']}}
              </span>
            </td>

            <td class="text-end">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu>
                <button class="mat__menu__item" mat-menu-item (click)="openDetailsDialog(item)">
                  <mat-icon color="accent" style="padding: 0">remove_red_eye</mat-icon>
                  <span class="title__menu_item">Подробно</span>
                </button>
                <button *ngIf="item.status === 'ACTIVE'" class="mat__menu__item" (click)="openInactiveDialog(item.service)" mat-menu-item>
                  <mat-icon color="warn" style="padding: 0">lock</mat-icon>
                  <span class="title__menu_item">Деактивировать</span>
                </button>
                <button *ngIf="item.status === 'BLOCKED'" class="mat__menu__item" (click)="openActiveDialog(item.service)" mat-menu-item>
                  <mat-icon color="primary" style="padding: 0">lock_open</mat-icon>
                  <span class="title__menu_item">Активировать</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>


