.personal-img {
  width: 110px;
  height: 136px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(112, 121, 116, 0.16);
  border-radius: 6px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card-data {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &_item {
    font-family: Roboto, 'sans-serif';
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-bottom: 1px solid rgba(112, 121, 116, 0.16);

    @media screen and (max-width: 768px) {
      margin-top: 8px;
    }

    span:first-child {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #3f6d5b;
    }

    span:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #191C1A;
    }
  }
}

.password-btn {
  cursor: pointer;
  padding: 0 4px;
  text-decoration: underline;
  color: #6363fc !important;

  &:hover{
    text-decoration: none;
  }
}
