<div>
  <div class="text-center">Добавление параметры ответа</div>
  <form [formGroup]="editForm" (ngSubmit)="editResParam()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Название</mat-label>
        <input type="text" matInput formControlName="title">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Key name</mat-label>
        <input type="text" matInput formControlName="keyName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Тип</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let item of data.typeList" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center justify-content-end pt-3">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        Закрыть
      </button>
      <button type="submit" class="btn btn-success ms-2">
        Добавить
      </button>
    </div>
  </form>
</div>
